asgiref==3.6.0
Django==4.1
linhhh==1.0.0
lzlib==1.0.0
protobuf==4.21.12
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
QScintilla==2.14.0
sqlparse==0.4.4
